<html>
<div class = "center hero-unit">
<%= form_tag("invite", method: "post") do %>
  <%= label_tag("Email Address") %>
  <%= text_field_tag(:id) %><br />
  <%= submit_tag("Invite!") %>
<% end %>
</div>
</html>
